*.pyc
*.m
data/Siyang/DIC_Results_ROI_60_80/e11.fig
data/Siyang/Strain_11 results sz60 op80.tif
data/Siyang/DIC_Results_ROI_60_80/e11.fig
data/Siyang/DIC_Results_ROI_60_80/e11.tif
data/Siyang/DIC_Results_ROI_60_80/e12.fig
data/Siyang/DIC_Results_ROI_60_80/e12.tif
matlab_code/code/HR_DIC_process_single.m
*.json
/Code/__pycache__
decks/.ipynb_checkpoints/deck-checkpoint.ipynb
decks/.ipynb_checkpoints/Subset dev deck-checkpoint.ipynb
data/DIC_Si_indentation/DIC_Si_indentation/120-1/1.tif
data/DIC_Si_indentation/DIC_Si_indentation/120-1/2.tif
data/DIC_Si_indentation/DIC_Si_indentation/120-2/1.tif
data/DIC_Si_indentation/DIC_Si_indentation/120-2/2.tif
data/sample12/ohtcfrp_00.tif
data/sample12/ohtcfrp_01.tif
decks/STRAINS_50_80.png
decks/STRAINS_70_90.png
decks/STRAINS_80_80.png
decks/STRAINS_80_90.png
decks/STRAINS_80_97.png
decks/STRAINS_100_97.png
decks/STRAINS_100_98.png
decks/STRAINS_200_95.png
decks/STRAINS_200_97.png
decks/STRAINS_350_95.png
