*.pyc
*.m
data/Siyang/DIC_Results_ROI_60_80/e11.fig
data/Siyang/Strain_11 results sz60 op80.tif
data/Siyang/DIC_Results_ROI_60_80/e11.fig
data/Siyang/DIC_Results_ROI_60_80/e11.tif
data/Siyang/DIC_Results_ROI_60_80/e12.fig
data/Siyang/DIC_Results_ROI_60_80/e12.tif
matlab_code/code/HR_DIC_process_single.m

=======
*.json
/Code/__pycache__
